<!DOCTYPE html>
<html>
<head>
  <title>GoodEats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'home', root_path %> | <%= link_to 'restaurant list', restaurants_path %> | <%= link_to 'submit new restaurant', new_restaurant_path %>
  <% if flash.any? %>
    <%= flash[:notice] %>
  <% end %>
<%= yield %>

</body>
</html>
